.form_content {
  max-width: var(--max-width);
  margin: 0 auto;
  background: white;
  padding: 0.75em;
  width: 90vw;
}

.form_content h2 {
  font-weight: 700;
  text-align: start;
}

.form_content hr {
  background: var(--gray-primary);
}

.form {
  display: grid;
  grid-template-columns: 1fr;
}

.form_range_container {
  margin-bottom: 1em;
}

.form_range_container label {
  text-align: start;
}

.form_range_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
}

.form_range_content p {
  width: 15%;
  margin: 0;
  border: 1px solid #dadada;
  width: 32px;
  padding: 0.25em;
}

.form_range_content input {
  width: 80%;
}
.form_checked_options_mobile {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.form_checked_options_desktop {
  display: none;
}

.form_checked_content {
  display: flex;
  align-items: center;
  gap: 1em;
}

.form_checked_content input {
  cursor: pointer;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #dbdbdb;
  border-radius: 0.5rem;
  height: 0.5rem;
}



/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -5px; /* Centers thumb on the track */
  border-radius: 50%;
  /*custom styles*/
  background-color: var(--red-primary);
  height: 1.25rem;
  width: 1.25rem;
  margin-bottom: 0;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

input[type="range"]::-webkit-progress{
  background-color: var(--red-primary);
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #dbdbdb;
  border-radius: 2em;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 50%; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: var(--red-primary);
  height: 1.25rem;
  width: 1.25rem;
}



input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

input[type='range']::-moz-range-progress{
  background-color: var(--red-primary);
  height: 0.5rem;
}

input[type='range']:focus::-moz-range-progress{
  background-color: var(--red-primary);
  height: 0.5rem;
}

input[type="checkbox"]:checked {
  background-color: var(--red-primary);
}


#btn {
  border: none;
  display: flex;
  align-items: center;
  margin: 1em auto;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

/* medias */

@media (min-width: 700px) {
  .form_content {
    padding: 1.25em;
  }

  .form {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  .form_checked_options_mobile {
    display: none;
  }

  .form_checked_options_desktop {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    align-items: end;
  }

  /* .form_checked_options{
    align-items: end;
  } */
}
