.password_container {
  display: flex;
  padding: 0.75em;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.25em;
  background: white;
  margin-bottom: 1em;
  max-width: var(--max-width);
  margin: 1em auto;
  width: 90vw;
}

.password_container h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.password_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.password_options button {
  border: none;
  background: none;
  color: #506175;
  cursor: pointer;
}

.password_options button svg {
  font-size: 1.25rem;
}

.password_progress {
  background: white;
  height: 7px;
  width: 100%;
  width: 90vw;
  max-width: var(--max-width);
  margin: 1em auto;
}

.password_progress_bar{
  height: 100%;
}

@media (min-width: 600px) {
  .password_container {
    padding: 1.5em;
  }
  .password_container h2 {
    font-size: 2rem;
  }
}
